<div class="container">
  <h1> Profile Page </h1>
  <div class="row justify-content-center py-3" style="background: white;">
    <div class="col-10 text-center">
      <%= cl_image_tag @user.user_photo, style: "width: 200px; height: 200px; object-fit: cover; border-radius: 50%;"%>
      <h2><%= @user.first_name%> <%= @user.last_name %></h2>

      <!--- TESTING -->
      <h4 class="profile-title">Job Title</h4>
      <p><%= @profile.job_title %></p>
      <h4 class="profile-title">About Me</h4>
      <p><%= @profile.about_me %></p>
      <h4 class="profile-title">Years of Experience</h4>
      <p><%= @profile.years_of_exp %></p>
      <h4 class="profile-title">Region</h4>
      <p><%= @user.prefecture %></p>

    <% design_pics = ["design1.jpg", "design2.jpg", "design3.jpg"] %>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% design_pics.each_with_index do |image, index| %>
          <div class="item<%= " active" if image == design_pics.first %>">
        <% end %>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <% design_pics.each do |image| %>
            <img class="d-block w-100" src="https://res.cloudinary.com/djlvhfuba/image/upload/v1643426257/development/female1_qxmdm6.jpg">
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
</div>
