<div id="card"  style="height: 245px;">
  <div id="card-body">
    <i class="fas fa-book-open"></i>
    <h6><strong><%= kondo %></strong></h6>
    <p><%= prefecture %></p>
    <p><%= summary %></p>
  </div>
  <div id="card-footer">
    <h6><%= link_to "See Details", path %></h6>
    <h6>¥ <%= price %></h6>
  </div>    
</div>