<div class="container">
  <h3>My Bookings</h3>
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-lg-6">
      <% kondo = Kondo.find(booking.kondo_id) %>
      <div class="card mb-3" style="max-width: 480px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= cl_image_tag kondo.user.user_photo, class:"card-img", style:"height: 100%" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= kondo.name %></h5>
              <p class="card-text">Provider: <%= User.find(kondo.user_id).first_name %></p>
              <p class="card-text">Booked Date: <%= booking.booked_date %></p>
              <div class="d-flex">
                <p class="card-text mr-2">Status:</p>
                <p class="card-text" style="color:<%= booking.booked_status_color %>"><%= booking.status.capitalize %></p>
              </div>
              <p class="card-text"><%= link_to "See Details", kondo_path(kondo) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
