<div class="container">
  <div class="row justify-content-center">
      <% @kondos.all.each do |kondo| %>
       <div class="col-3">
        <h4><%= link_to kondo.name, kondo_path(kondo) %></h4>
        <h5><%= kondo.summary %></h5>
        <span><%= kondo.prefecture %></span>
        <span><%= kondo.user.first_name %></span>
        <span><%= kondo.price %></span>
      </div>
      <% end %>
  </div>
</div>
