<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @kondos.all.each do |kondo| %>
      <div>
        <h4><%= kondo.name %></h3>
        <h5><%= kondo.summary %></h5>
        <span><%= kondo.prefecture %></span>
        <span><%= kondo.user.first_name %></span>
        <span><%= kondo.price %></span>
      </div>
      <% end %>
    </div>
  </div>
</div>
