<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div>
        <h4><%= @kondo.name %></h3>
        <h5><%= @kondo.summary %></h5>
        <span><%= @kondo.prefecture %></span>
        <span><%= @kondo.user.first_name %></span>
        <span><%= @kondo.price %></span>
        <%= link_to "Book now", new_kondo_booking_path(@kondo.id), class:"btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<%# Only provider sees this %>
<div class="container">
  <div class="row">
    <% @kondo.bookings.each  do |booking| %>
      <div class="col-4">
        <p>Renter: <%= User.find(booking.user_id).first_name %></p>
        <p>Status: <%= booking.status %></p>
        <p>Booked Date: <%= booking.booked_date %></p>
      </div>
    <% end %>
  </div>
</div>