<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div>
        <h4><%= @kondo.name %></h3>
        <h5><%= @kondo.summary %></h5>
        <span><%= @kondo.prefecture %></span>
        <span><%= @kondo.user.first_name %></span>
        <span><%= @kondo.price %></span>
        <%= link_to "Book now", new_kondo_booking_path(@kondo.id), class:"btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
