<div class="container">
  <div class="row justify-content-around">
    <div class="col-lg-6 col-sm-12 p-4 m-2" style="background: white;">
      <div class="row text-center">
        <div class="col-lg-4 col-sm-4">
          <%= cl_image_tag @kondo.user.user_photo, width: "75%",crop: :fill %>
        </div>
        <div class="col-lg-6 col-sm-6 align-self-center">
          <h3><%= @kondo.user.first_name %> <%= @kondo.user.last_name %></h3>
          <h5><%= @kondo.name %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 py-5">
          <h4>About <%= @kondo.user.first_name %></h4>
          <p><%= @kondo.details %></p>
        </div>
      </div>
    </div>
    <%#Only renters can see this  %>
    <% if user_signed_in? && current_user.renter? %>
     <div id="booking-form" class="col-lg-4 col-sm-12 p-4 m-2">
       <%# Book form here%>
       <h3>Make a Reservation</h3><br>
       <h5><strong>￥<%= @kondo.price %></strong> <small>/ session</small></h5>
       <%= simple_form_for([@kondo, @booking]) do |f| %>
        <div class="d-flex flex-column">
          <%= f.date_field :booked_date, min: Date.today + 3, as: :date, html5: true, error: false, class: "p-1 my-2" %>
          <%= f.submit "Book now", class:"btn btn-primary my-2" %>
          <%= f.error :booked_date, style: "color:red" %>
        </div>
       <% end %>
    <% end %>
     </div>
   <%#----------------------------%>
  </div>
</div>

<%# Only provider sees this %>
<% if user_signed_in? && current_user.provider? %>
  <div class="container">
    <h4>People currently booked this Kondo:</h4>
      <div class="row">
        <% @kondo.bookings.each do |booking| %>
          <div class="col-4 bg-white p-4 m-2">
            <p>Renter: <%= User.find(booking.user_id).first_name %></p>
            <p>Booked Date: <%= booking.booked_date %></p>
            <%= simple_form_for ([@kondo, booking])  do |f| %>
              <div class="d-flex align-items-center">
                <%= f.input :status, :collection => ['waiting','confirmed','declined','completed'], label: false %>
                <%= f.submit "Update Status", class: "btn btn-success" %>
              </div>
             <% end %>
          </div>
        <% end %>
      </div>
  </div>
<% end %>
